<div class="pageView">
	<div class="page fade-in" id="background">
		<div id="header-text-container">
			<div class="row" id="header-text">
				<img src="../../assets/img/headertext.png" alt="BROKINPAPER">	
			</div>
			<div class="title-header" id="about-head">
				<span>ABOUT</span>
			</div>
			<div id="about-body">
				<span>
					Born and raised in Queens, New York, Harrison Lee, a.k.a. BrokinPaper 
					began his music career producing music in 2009. Since then, he has produced 
					music across a variety of genres ranging from hip-hop/rap to more electronic-infused 
					genres all in an effort to discover who he wanted BrokinPaper to eventually become. 
					Finding influence in older, more "old-school" analog sounds, BrokinPaper's second, 
					self-released EP titled THE MASLOW EP, has been compared to the works of artists like 
					Gesaffelstein, SebastiAn, Boys Noize, Rezz, and Brodinski; using both elements from 
					techno and house music as well as styles from hip hop/rap, reminiscent of his musical upbringing.
				</span>
			</div>
		</div>
	</div>
	<div class="page" id="info-text-container">
		<!-- information columns -->
		<div class="row">
			<div class="col-4">
				<!-- MUSIC column -->
				<div class="title-header">MUSIC</div>
				<div class="album-container">
					<div class="album-art">
						<span><img src="../../assets/img/librae.jpg" alt="LIBRAE"></span>
					</div>
					<div class="album-text">
						<div class="album-text-header">
							<span>LIBRAE</span>
						</div>
						<div class="album-text-rdate">
							<span>Release: 12/26/2019</span>
						</div>
					</div>
				</div> 		
				<div class="album-container">
					<div class="album-art">
						<span><img src="../../assets/img/maslow.png" alt="THE MASLOW EP"></span>
					</div>
					<div class="album-text">
						<div class="album-text-header">
							<span>THE MASLOW EP</span>
						</div>
						<div class="album-text-rdate">
							<span>Release: 10/25/2019</span>
						</div>
					</div>
				</div>		
				<div class="album-container">
					<div class="album-art">
						<span><img src="../../assets/img/elysium.png" alt="ELYSIUM"></span>
					</div>
					<div class="album-text">
						<div class="album-text-header">
							<span>ELYSIUM</span>
						</div>
						<div class="album-text-rdate">
							<span>Release: 06/01/2019</span>
						</div>
					</div>
				</div>	
			</div>
			<div class="col-4">
				<div class="title-header">PAST SHOWS</div>
				<div class="event-container">
					<div class="event">
						<span>02/21/2020 at PIANOS NYC</span>
					</div>
				</div>
				<div class="event-container">
					<div class="event">
						<span>06/08/2019 at THE DELANCEY</span>
					</div>
				</div>
				<div class="event-container">
					<div class="event">
						<span>11/17/2018 at PIANOS NYC</span>
					</div>
				</div>
				<div class="event-container">
					<div class="event">
						<span>08/04/2018 at THE DELANCEY</span>
					</div>
				</div>
				<div class="event-container">
					<div class="event">
						<span>04/07/2018 at THE DELANCEY</span>
					</div>
				</div>
				<div class="event-container">
					<div class="event">
						<span>01/20/2018 at THE DELANCEY</span>
					</div>
				</div>
				<div class="event-container">
					<div class="event">
						<span>07/21/2017 at THE WELL BROOKLYN</span>
					</div>
				</div>
				<div class="event-container">
					<div class="event">
						<span>01/21/2017 at LEFTFIELD ON LUDLOW</span>
					</div>
				</div>
				<div class="event-container">
					<div class="event">
						<span>09/22/2016 at CITIFIELD, BEFORE THE METS / PHILLIES GAME</span>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="title-header">SOCIAL MEDIA</div>
			</div>
		</div>
	</div>
</div>